/* Framework CSS */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    overflow: auto;
    font-family: "Quicksand", sans-serif;
    color: #2d3c49;
}

img, embed, object, video {
  max-width: 100%;
  max-height: 100%;
}


.container {
  margin: 0 auto;
  max-width: 960px;
  width: 100%;
}

.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-4 {
  width: 33.33%;
}

.col-6 {
  width: 50%;
}

.col-8 {
  width: 66.67%;
}

.col-12 {
  width: 100%;
}

/* Style CSS */

h1, h2, h3 ,h4 {
  padding: 2px 10px;
}

.text-right {
  text-align: right;
}

.text-uppercase{
  text-transform: uppercase;
}

.top-hr {
  border-bottom: 3px solid #7d97ad;
  margin-bottom: 10px;
}

.bottom-hr {
  border-bottom: 1px solid #accacc;
  margin: 4px 0;
}

.banner-title {
  margin: auto 0;
}
.title-name {
  font-weight: 300;
  font-size: 3em;

}

.featured-title {
  margin: 10px 0;
  color: #7d97ad;
  font-size: 1.5em;
}

.featured-item {
  width: calc((100% - 20px) / 3);
  margin-right: 10px;
  text-align: center;
}

.featured-item:last-of-type {
  margin-right: 0;
}

.featured-item-title, .featured-item-link {
  line-height: 1.2em;
  padding: 0.5em 0;
}

.featured-item-title {
  font-size: 1.5em;
}

.featured-item-link {
  text-decoration: none;
}

.featured-item-link:hover {
  text-decoration: underline;
}


.footer {
  padding: 0.2em 0;
  font-size: 12px;
}

/* Responsive CSS */

@media screen and (max-width: 768px) {

  .footer {
    font-size: 16px;
  }

}

@media screen and (max-width: 480px) {
  .title-name {
    font-size: 2em;
  }

  .featured-title {
    text-align: center;
  }

  .featured-item {
    width: 100%;
    margin-right: 0;
  }
}
